* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #0f0f0f;
    --fnt: #f0f0f0;
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

html {
    background: linear-gradient(to bottom right, #111111, #000000);
    color: var(--fnt);
    width: 100vw;
    height: 100vh;
    font-family: 'Caveat';
}

.shortcut {
    display: inline-block;
    margin-right: 10px;
}

.banner>p {
    font-size: 100px;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
}

.logo {
    color: white;
    animation: neon 3s infinite;
}

@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
            0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }

    50% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
            0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }

    100% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
            0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}

body {
    display: grid;
    grid-template-columns: 35vw 30vw 35vw;
    grid-template-rows: 70vh 30vh;
}

footer {
    width: 100vw;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

div.container>div.date {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

div.weather {
    margin: 32px 64px;
    font-size: xx-large;
}

div.to-do {
    margin: 32px 64px;
    font-size: x-large;
}

div.to-do>ul {
    padding: 20px;
    font-size: xx-large;
}

div.to-do>ul>li>button,
div.to-do>form>button,
div.shortcut>form>button,
div.shortcut>div.position>button,
div.shortcut div.shortcut>button {
    font-family: 'Caveat';
    font-size: 21px;
    background-color: var(--bg);
    color: var(--fnt);
    padding: 4px;
    margin-left: 32px;
    padding: 8px;
    border-radius: 32px;
}

div.to-do>form>input,
div.shortcut>form>input {
    margin-right: 21px;
    padding: 6px 32px;
    color: var(--fnt);
    font-size: 21px;
    font-family: 'Caveat';
    background-color: var(--bg);
    border-radius: 32px;
}

div.to-do>form>button {
    margin-left: 0;
}

div.shortcut>form>button {
    padding: 2px 32px;
}

div.shortcut>form,
div.shortcut div.shortcut button.none {
    display: none;
}

div.shortcut>form.show,
div.shortcut>div.position {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.shortcut h1 {
    margin: auto;
    text-decoration: underline;
    text-align: center;
}

div.shortcut>div.position>button {
    padding: 0 10px;
}

div.shortcut div#shortcutList {
    display: flex;

}

div.shortcut div.shortcut {
    display: grid;
    padding: 0 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}